@page "/KlubSeniora"
@inject NavigationManager navManager
<div class="container">
    <header class="row p-4">
        <div class="col col-6">
            <a @onclick="(()=>wroc())" class="btn btn-dark"><span class="bi bi-arrow-left me-1"></span>Powrót</a>
        </div>
        <div class="col col-6 text-end">
            <img src="./images/lego.svg" width="130" alt="logo">
        </div>

    </header>
</div>
<div class="container">
    <div class="c-1 fwhite p-5 fs-4 rounded-4">
        <h1>
            Klub seniora "Złota Jesień"
        </h1>
        „Złota Jesień” jest najstarszym i największym Klubem działającym w Kujawsko-Pomorskim Centrum
        Kultury w Bydgoszczy oraz jednym z najstarszych Klubów w Województwie Kujawsko-Pomorskim oraz w Polsce. Klub
        ma wieloletnią tradycję w kultywowaniu działalności w środowisku lokalnym Seniorów. Klub ze względu na
        różnorodność proponowanej oferty można określić jako prężnie działający. Wielokrotny laureat konkursów na
        „Najlepszy Klub Seniora”. Klub może się pochwalić organizacją różnych zabaw tematycznych oraz występami
        chętnie zapraszanych Zespołów. Obecnie Klub spotyka się w każdy poniedziałek w Restauracji „Tango” w
        Bydgoszczy. W klubie działają Zespół Wokalny "Tercja" i Zespół Wokalny "Niespodzianka".
    </div>
    <div class="c-1 fwhite fw-semibold p-5 mt-4 rounded-4">
        <h1>Kontakt z Klubem</h1>
        <a href="tel:602131887" class="btn btn-secondary fw-semibold btn-lg">KLIKNIJ ABY ZADZWONIĆ</a>
    </div>
</div>
@code {
    private void wroc()
    {
        navManager.NavigateTo($"/");
    }
}
